<div class="grid">
    <div class="col-12">
        <div class="card px-6 py-6">
            <p-toast></p-toast>
            <p-toolbar styleClass="mb-4">
                <ng-template pTemplate="left">
                    <div class="my-2">
                        <button pButton pRipple label="Nuevo" icon="pi pi-plus" class="p-button-success mr-2"
                            (click)="openNew()"></button>
                    </div>
                </ng-template>
            </p-toolbar>

            <p-table #dt [value]="cotizacions" responsiveLayout="scroll" [rows]="10"
                [globalFilterFields]="['producto.nombre', 'producto.sku']" [(selection)]="selectedCotizacions"
                [rowHover]="true" dataKey="id">
                <ng-template pTemplate="caption">
                    <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                        <h5 class="m-0">Cotizaciones de credito</h5>
                        <span class="block mt-2 md:mt-0 p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="Buscar..."
                                class="w-full sm:w-auto" />
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th pSortableColumn="producto">Producto <p-sortIcon field="producto"></p-sortIcon></th>
                        <th pSortableColumn="sku">sku<p-sortIcon field="sku"></p-sortIcon></th>
                        <th pSortableColumn="plazo">Plazo <p-sortIcon field="plazo"></p-sortIcon></th>
                        <th pSortableColumn="abono_normal">Abono Normal <p-sortIcon field="abono_normal"></p-sortIcon>
                        </th>
                        <th pSortableColumn="abono_puntual">Abono Puntual <p-sortIcon
                                field="abono_puntual"></p-sortIcon></th>
                        <th></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-cotizacion>
                    <tr>
                        <td style="width:14%; min-width:10rem;"><span class="p-column-title">Producto</span>
                            {{cotizacion.producto['nombre']}}
                        </td>
                        <td style="width:14%; min-width:10rem;"><span class="p-column-title">sku</span>
                            {{cotizacion.producto['sku']}}
                        </td>
                        <td style="width:14%; min-width:10rem;">
                            <span class="p-column-title">nombre</span>
                            {{cotizacion.plazo['semanas']}}
                        </td>
                        <td style="width:40%; min-width:8rem;">
                            <span class="p-column-title">abono_normal</span>
                            {{cotizacion.abono_normal}}
                        </td>
                        <td style="width:14%; min-width:10rem;">
                            <span class="p-column-title">abono_puntual</span>
                            {{cotizacion.abono_puntual}}
                        </td>
                        <td>
                            <div class="flex">
                                <button pButton pRipple icon="pi pi-pencil"
                                    class="p-button-rounded p-button-success mr-2"
                                    (click)="editProduct(cotizacion)"></button>
                                <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning"
                                    (click)="deleteProduct(cotizacion)"></button>
                            </div>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>

        <p-dialog [(visible)]="cotizacionDialog" [style]="{width: '450px'}" header="Detalles de producto" [modal]="true"
            class="p-fluid">
            <ng-template pTemplate="content">
                <div class="field">
                    <p-dropdown [options]="productos" [(ngModel)]="selectedProductos" optionLabel="nombre"
                        (onChange)="onProductoChange()" placeholder="Seleccionar un producto" />
                </div>
                <div class="field">
                    <p-dropdown [options]="plazos" [(ngModel)]="selectedplazos" optionLabel="semanas"
                        (onChange)="onPlazoChange()" placeholder="Seleccionar un  Plazo" />
                </div>
                <div class="field">
                    <label for="abono_normal">abono normal</label>
                    <input type="number" pInputText id="abono_normal" [(ngModel)]="cotizacion.abono_normal"
                        [disabled]="true" [ngClass]="{'ng-invalid ng-dirty' : submitted && !cotizacion.abono_normal}" />
                </div>
                <div class="field">
                    <label for="abono_puntual">abono puntual</label>
                    <input type="number" pInputText id="abono_puntual" [(ngModel)]="cotizacion.abono_puntual"
                        [disabled]="true"
                        [ngClass]="{'ng-invalid ng-dirty' : submitted && !cotizacion.abono_puntual}" />
                </div>
            </ng-template>
            <div class="mb-5"></div>
            <ng-template pTemplate="footer">
                <button pButton pRipple label="Cancelar" icon="pi pi-times" class="p-button-text"
                    (click)="hideDialog()"></button>
                <button pButton pRipple label="Guardar" icon="pi pi-check" class="p-button-text"
                    (click)="saveProduct()"></button>
            </ng-template>
        </p-dialog>

        <p-dialog [(visible)]="deleteCotizacionDialog" header="Confirmar" [modal]="true" [style]="{width:'450px'}">
            <div class="flex align-items-center justify-content-center">
                <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
                <span *ngIf="cotizacion">¿Estás seguro de que quieres eliminar cotizacion #<b>{{cotizacion.id_cotizacion}}</b>?</span>
            </div>
            <ng-template pTemplate="footer">
                <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No"
                    (click)="deleteProductDialog = false"></button>
                <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Yes"
                    (click)="confirmDelete()"></button>
            </ng-template>
        </p-dialog>

        <p-dialog [(visible)]="deletecotizacionsDialog" header="Confirmar" [modal]="true" [style]="{width:'450px'}">
            <div class="flex align-items-center justify-content-center">
                <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
                <span>¿Estás seguro de que quieres eliminar?</span>
            </div>
            <ng-template pTemplate="footer">
                <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No"
                    (click)="deleteProductsDialog = false"></button>
                <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Si"
                    (click)="confirmDeleteSelected()"></button>
            </ng-template>
        </p-dialog>
    </div>
</div>
