<div class="grid">
    <div class="col-12">
        <div class="card px-6 py-6">
            <p-toast></p-toast>
            <p-toolbar styleClass="mb-4">
                <ng-template pTemplate="left">
                    <div class="my-2">
                        <button pButton pRipple label="Nuevo" icon="pi pi-plus" class="p-button-success mr-2"
                            (click)="openNew()"></button>
                    </div>
                </ng-template>
            </p-toolbar>

            <p-table #dt [value]="products" responsiveLayout="scroll" [rows]="10"
                [globalFilterFields]="['sku','nombre']"
                [(selection)]="selectedProducts" [rowHover]="true" dataKey="id">
                <ng-template pTemplate="caption">
                    <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                        <h5 class="m-0">Manage Products</h5>
                        <span class="block mt-2 md:mt-0 p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="Buscar..."
                                class="w-full sm:w-auto" />
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th pSortableColumn="sku">sku <p-sortIcon field="sku"></p-sortIcon></th>
                        <th pSortableColumn="nombre">nombre <p-sortIcon field="nombre"></p-sortIcon></th>
                        <th pSortableColumn="descripcion">descripcion <p-sortIcon field="descripcion"></p-sortIcon></th>
                        <th pSortableColumn="precio">precio <p-sortIcon field="precio"></p-sortIcon></th>
                        <th></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-product>
                    <tr>
                        <td style="width:14%; min-width:10rem;"><span class="p-column-title">sku</span>
                            {{product.sku}}
                        </td>
                        <td style="width:14%; min-width:10rem;">
                            <span class="p-column-title">nombre</span>
                            {{product.nombre}}
                        </td>
                        <td style="width:40%; min-width:8rem;">
                            <span class="p-column-title">descripcion</span>
                            {{product.descripcion}}
                        </td>
                        <td style="width:14%; min-width:10rem;">
                            <span class="p-column-title">precio</span>
                            {{product.precio}}
                        </td>
                        <td>
                            <div class="flex">
                                <button pButton pRipple icon="pi pi-pencil"
                                    class="p-button-rounded p-button-success mr-2"
                                    (click)="editProduct(product)"></button>
                                <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning"
                                    (click)="deleteProduct(product)"></button>
                            </div>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>

        <p-dialog [(visible)]="productDialog" [style]="{width: '450px'}" header="Detalles de producto" [modal]="true"
            class="p-fluid">
            <ng-template pTemplate="content">
                <div class="field">
                    <label for="sku">sku</label>
                    <input type="text" pInputText id="sku" [(ngModel)]="product.sku"
                        [ngClass]="{'ng-invalid ng-dirty' : submitted && !product.sku}" />
                </div>
                <div class="field">
                    <label for="nombre">nombre</label>
                    <input type="text" pInputText id="nombre" [(ngModel)]="product.nombre"
                        [ngClass]="{'ng-invalid ng-dirty' : submitted && !product.nombre}" />
                </div>
                <div class="field">
                    <label for="descripcion">descripcion</label>
                    <textarea id="descripcion" pInputTextarea [(ngModel)]="product.descripcion" rows="3"
                        cols="20"></textarea>
                </div>
                <div class="formgrid grid">
                    <div class="field col">
                        <label for="precio">precio</label>
                        <p-inputNumber id="precio" [(ngModel)]="product.precio" mode="currency" currency="USD"
                            locale="en-US"></p-inputNumber>
                    </div>
                </div>
            </ng-template>

            <ng-template pTemplate="footer">
                <button pButton pRipple label="Cancelar" icon="pi pi-times" class="p-button-text"
                    (click)="hideDialog()"></button>
                <button pButton pRipple label="Guardar" icon="pi pi-check" class="p-button-text"
                    (click)="saveProduct()"></button>
            </ng-template>
        </p-dialog>

        <p-dialog [(visible)]="deleteProductDialog" header="Confirmar" [modal]="true" [style]="{width:'450px'}">
            <div class="flex align-items-center justify-content-center">
                <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
                <span *ngIf="product">¿Estás seguro de que quieres eliminar? <b>{{product.nombre}}</b>?</span>
            </div>
            <ng-template pTemplate="footer">
                <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No"
                    (click)="deleteProductDialog = false"></button>
                <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Yes"
                    (click)="confirmDelete()"></button>
            </ng-template>
        </p-dialog>

        <p-dialog [(visible)]="deleteProductsDialog" header="Confirmar" [modal]="true" [style]="{width:'450px'}">
            <div class="flex align-items-center justify-content-center">
                <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
                <span>¿Estás seguro de que quieres eliminar?</span>
            </div>
            <ng-template pTemplate="footer">
                <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No"
                    (click)="deleteProductsDialog = false"></button>
                <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Si"
                    (click)="confirmDeleteSelected()"></button>
            </ng-template>
        </p-dialog>
    </div>
</div>
